

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
    padding: 5%;
}

.hero-container > div {
    background-color: transparent !important;
    box-shadow: none !important;
}

.form, .resultado {
    background-color: var(--color-primary-100);
    padding: 1rem 2rem;
    border-radius: 5px;
    width: 100%;
    
    -webkit-box-shadow: 0px 0px 34px 0px rgba(59, 59, 59, 0.1);
    -moz-box-shadow: 0px 0px 34px 0px rgba(59, 59, 59, 0.1);
    box-shadow: 0px 0px 34px 0px rgba(59, 59, 59, 0.1);
}

.container .form .titulo, .resultado-header h2 {
    margin-bottom: 1rem;
}

.container .form form .form-outline {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.container .form form .form-outline input {
    height: 3rem;
    padding: 0 1rem;
    border: none;
    font-size: 1rem;
    border: 2px solid var(--color-primary-200);
    border-radius: 5px;
}

.form-group {
    display: flex;
    gap: 1rem;
}

.form-outline {
    margin-top: 1rem;
}

.form .form-btn {
    display: flex;
    justify-content: flex-end;
}

.form .form-btn button {
    padding: 0 1.5rem;
    border-radius: 2.5rem;
    background: #004A80;
    color: #fff;
    height: 2.5rem;
    line-height: 2.5rem;
    display: inline-block;
    border: 0;

    margin-top: 1rem;
    margin-left: auto;

    cursor: pointer;

    font-weight: 600;
    font-size: 1rem;
}

@media (max-width: 730px) {
    .container-avatar {
        grid-template-columns: 1fr;
    }
}
